<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="images/chonky-cat.jpeg" alt="A Chonky Cat">
    <p>Welcome to <%= title %></p>
    <a href="/cats/fact">Take a paws, you knead this knowledge</a>
  </body>
</html>
